[Unit]
Description=Slack alert

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '/usr/bin/journalctl --unit=%i --since="1 hour ago" | /usr/bin/tail --lines=20 || /usr/local/bin/slacktee --no-output --title "[systemd] Slack alert for unit %i"'
User={{ user }}
